/*
  Extra Small : < 576px
  Small       : >= 576px
  Medium      : >= 768px
  Large       : >= 992px
  Extra Large : >= 1200px
*/
@media screen and (max-width: 768px) {
  .textbox, .textarea {
    margin: 0.5rem 0;
    padding:0;
    flex-direction: column-reverse;
    label {
      align-self: start;
      padding-bottom: 0.2rem;
    }
    input, button {
      //margin:0;
    }
    textarea {
      height: auto;
    }
  }
  .form-btn-group {
    flex-direction: column;
    input, button {
      margin:0.5rem 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
