@media screen and (max-width: 720px) {
  .navbar {
    position: relative;
    .nav-avatar {
      display: none;
    }
    .nav-btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav-items {
      transform: scale(1, 0);
      position: absolute;
      text-align: left;
      top: 100%;
      left: 0;
      margin: 0;
      display: block;
      background: rgba($color-bg-navbar2,0.8) ;
      width: 100%;

      transform-origin: top;
      padding: 0;
      list-style: none;
      z-index: 999;
      li {
        margin: 0;
        .nav-item {
          padding: 0.8em;
          display: block;
          opacity: 1;
          transition: opacity 400ms ease-in-out;
          &::before {
           //border: none;
          }
        }
        &:hover{
          background: rgba($color-bg-navbar2,0.9);
        }
        .dropdown-content {
          position: relative;
          background: none;
          box-shadow: none;
          width: 100%;
          &:first-child {
            margin-top: 0.8em;
          }
          a {
            &:hover{
              background: rgba($color-bg-navbar1,0.5);
            }
          }
        }

      }
    }
    .nav-active  {
      transform: scale(1, 1);
      li {
        a {
          opacity: 1;
          transition: opacity 150ms ease-in-out 250ms;
        }
      }
    }
  }
}
