@media screen and (max-width: 720px) {
  .navbar {
    position: relative;
    .nav-avatar {
      display: none;
    }
    .nav-btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav-links {
      transform: scale(1, 0);
      position: absolute;
      text-align: left;
      top: 100%;
      left: 0;
      margin: 0;
      display: block;
      background: linear-gradient(180deg, rgba($color-bg-navbar2,0.5) 0%, $color-bg-navbar1 100%);
      width: 100%;

      transform-origin: top;
      padding: 0;
      list-style: none;
      z-index: 999;
      li {
        margin: 0;
        .nav-link-item {
          padding: 1em;
          display: block;
          opacity: 1;
          transition: opacity 400ms ease-in-out;
          &::before {
           border: none;
          }
        }
        &:hover{
          background: rgba($color-bg-navbar1,1);
        }
        .dropdown-content {
          position: relative;
          background: none;
          box-shadow: none;
          //border: 2px solid red;
          left: 0;
          top: calc(100% + 4px);
          width: 100%;
          margin: 0;
          padding: 0;
          a {
            &:hover{
              color: $color-black;
             // background: rgba($color-bg-navbar2,1);
            }
          }
        }

      }
    }
    .nav-active  {
      transform: scale(1, 1);
      li {
        a {
          opacity: 1;
          transition: opacity 150ms ease-in-out 250ms;
        }
      }
    }
  }
}
