@media screen and (max-width: 720px) {
  .navbar {
    .nav-avatar {
      display: none;
    }
    .nav-btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav-items {
      transform: scale(1, 0);
      position: absolute;
      text-align: left;
      top: 100%;
      left: 0;
      margin: 0;
      display: block;
      background: linear-gradient(180deg, $color-bg-navbar2 0%, $color-bg-navbar1 150%);
      width: 100%;
      transform-origin: top;
      padding: 0;

      .nav-item {
        margin: 0;
        padding: 1rem;
        display: block;
        opacity: 1;
        transition: opacity 400ms ease-in-out;
        &:hover{
          background: $color-bg-navbar1;
        }
        .dropdown-content {
          position: relative;
          background: none;
          box-shadow: none;
          width: 100%;

          &:first-child {
            margin-top: 0.8em;

          }
          a {
            margin:0  -1rem;
            padding: 0.6rem 2.2rem;
          }
        }
      }
    }
    .nav-items-active  {
      transform: scale(1, 1);
      //li {
      //  a {
      //    opacity: 1;
      //    transition: opacity 150ms ease-in-out 250ms;
      //  }
      //}
    }
  }
}
