@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700;900&display=swap");
.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m-3 {
  margin: 3rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.p-3 {
  padding: 3rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.m-4 {
  margin: 4rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.p-4 {
  padding: 4rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.m-5 {
  margin: 5rem;
}

.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.p-5 {
  padding: 5rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #2222dd;
}

.text-secondary {
  color: #4488ff;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.grid {
  display: grid;
  grid-gap: 0.3rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.col1 {
  grid-column-start: span 1;
}

.col2 {
  grid-column-start: span 2;
}

.col3 {
  grid-column-start: span 3;
}

.col4 {
  grid-column-start: span 4;
}

.col5 {
  grid-column-start: span 5;
}

.col6 {
  grid-column-start: span 6;
}

.col7 {
  grid-column-start: span 7;
}

.col8 {
  grid-column-start: span 8;
}

.col9 {
  grid-column-start: span 9;
}

.col10 {
  grid-column-start: span 10;
}

.col11 {
  grid-column-start: span 11;
}

.col12 {
  grid-column-start: span 12;
}

.row1 {
  grid-row-start: span 1;
}

.row2 {
  grid-row-start: span 2;
}

.row3 {
  grid-row-start: span 3;
}

.row4 {
  grid-row-start: span 4;
}

.row5 {
  grid-row-start: span 5;
}

.row6 {
  grid-row-start: span 6;
}

.row7 {
  grid-row-start: span 7;
}

.row8 {
  grid-row-start: span 8;
}

.row9 {
  grid-row-start: span 9;
}

.row10 {
  grid-row-start: span 10;
}

.row11 {
  grid-row-start: span 11;
}

.row12 {
  grid-row-start: span 12;
}

.navbar {
  position: relative;
  background: linear-gradient(180deg, #2222dd 0%, #4488ff 100%);
  height: 3.6rem;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Acme", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.navbar .nav-brand {
  grid-column: 1/2;
  height: 32px;
}
.navbar .nav-brand img {
  height: inherit;
}
.navbar .nav-items {
  justify-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 400ms ease-in-out;
}
.navbar .nav-items .nav-item {
  padding: 0;
  margin-left: 1.5em;
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
.navbar .nav-items .nav-item::before {
  content: "";
  position: absolute;
  top: 100%;
  left: -10%;
  width: 120%;
  border-top: 3px solid #bbffff;
  transform: scale(0, 0);
  transition: transform ease-out 300ms;
}
.navbar .nav-items .nav-item:hover {
  color: #bbffff;
}
.navbar .nav-items .nav-item:hover::before {
  transform: scale(1, 1);
}
.navbar .nav-items .nav-item .dropdown-content {
  display: none;
  position: absolute;
  font-size: 0.9rem;
  top: calc(100% + 3px);
  left: 0;
  text-align: left;
  background-color: #2222dd;
  white-space: nowrap;
  box-shadow: 0px 0px 20px 5px rgba(34, 34, 221, 0.6);
  z-index: 999;
  flex-direction: column;
}
.navbar .nav-items .nav-item .dropdown-content a {
  color: #ffffff;
  padding: 0.6rem 1.8rem;
  text-decoration: none;
}
.navbar .nav-items .nav-item .dropdown-content a:hover {
  color: #bbffff;
  background: #3366ff;
}
.navbar .nav-items .nav-item .dropdown-content-active {
  display: flex;
}
.navbar .nav-avatar {
  margin: 0 auto;
  grid-column: 3/4;
}
.navbar .nav-avatar .nav-avatar-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  width: 2rem;
  height: 2rem;
  border-radius: 2em;
  box-shadow: 0 0 10px 3px white;
}
.navbar .nav-btn {
  grid-column: 3/4;
  display: none;
}

.toggle-btn {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-btn .toggle-btn-line {
  position: relative;
}
.toggle-btn .toggle-btn-line, .toggle-btn .toggle-btn-line::before, .toggle-btn .toggle-btn-line::after {
  display: block;
  background: white;
  height: 2px;
  width: 1.7rem;
  position: absolute;
  content: "";
}
.toggle-btn .toggle-btn-line::before {
  bottom: 7px;
}
.toggle-btn .toggle-btn-line::after {
  top: 7px;
  transition: transform ease-in-out 400ms;
}
.toggle-btn:hover {
  cursor: pointer;
}

.toggle-btn-open-left .toggle-btn-line::after {
  top: 7px;
  transform: rotate(-10deg);
}

.toggle-btn-open-right .toggle-btn-line::after {
  top: 7px;
  transform: rotate(10deg);
}

.btn {
  border: none;
  padding: 0.5rem 1.3rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.75);
  transition: all ease-in-out 200ms;
  cursor: pointer;
  font-size: 1rem;
}
.btn:hover {
  transform: translatey(-1px);
  box-shadow: 0px 18px 8px -10px rgba(0, 0, 0, 0.6);
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: #4488ff;
  color: #333;
  border-radius: 5px;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: #2222dd;
  color: #ffffff;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/*
https://www.w3schools.com/html/html_form_input_types.asp
Here are the different input types you can use in HTML:

<input type="button">
<input type="checkbox">
<input type="color">
<input type="date">
<input type="datetime-local">
<input type="email">
<input type="file">
<input type="hidden">
<input type="image">
<input type="month">
<input type="number">
<input type="password">
<input type="radio">
<input type="range">
<input type="reset">
<input type="search">
<input type="submit">
<input type="tel">
<input type="text">
<input type="time">
<input type="url">
<input type="week">
*/
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=time],
input[type=url],
textarea,
.combo-main,
.checkbox-group {
  color: #2222dd;
  background: #fff;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #BEBEBE;
  border-radius: 0.2rem;
  transition: all 0.3s ease-in-out;
  outline: none;
}
input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=date]:hover,
input[type=datetime]:hover,
input[type=number]:hover,
input[type=search]:hover,
input[type=time]:hover,
input[type=url]:hover,
textarea:hover,
.combo-main:hover,
.checkbox-group:hover {
  border: 1px solid #88D5E9;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=time]:focus,
input[type=url]:focus,
textarea:focus,
.combo-main:focus,
.checkbox-group:focus {
  box-shadow: 0 0 12px #88D5E9;
  border: 1px solid #88D5E9;
}

.form-container {
  width: 90vw;
  margin: 2rem auto;
  box-shadow: 0 0 1em 1px rgba(0, 0, 0, 0.1), 0 6.5px 10.2px -51px rgba(0, 0, 0, 0.409), 0 17.1px 28.3px -51px rgba(0, 0, 0, 0.443), 0 40.8px 68.1px -51px rgba(0, 0, 0, 0.491), 0 136px 226px -51px rgba(0, 0, 0, 0.58);
  border-radius: 0.5rem;
  background: #f2f2f2;
  font-family: "Work Sans", sans-serif;
}
.form-container .form-title {
  text-align: center;
  margin-bottom: 1rem;
}

.form label {
  color: #2222dd;
}

.form-btn-group {
  grid-column: 1/-1;
  display: flex;
  width: 100%;
}
.form-btn-group input, .form-btn-group button {
  margin: 0.5rem;
  flex-grow: 1;
  font-family: inherit;
  text-align: center;
}

.form-btn-group-stop-hover {
  pointer-events: none;
}

.textbox, .textarea, .combobox, .checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0;
  height: 100%;
  position: relative;
}
.textbox label, .textarea label, .combobox label, .checkbox label {
  text-align: right;
  padding-right: 0.2rem;
}
.textbox input, .textbox textarea, .textbox .checkbox-item, .textarea input, .textarea textarea, .textarea .checkbox-item, .combobox input, .combobox textarea, .combobox .checkbox-item, .checkbox input, .checkbox textarea, .checkbox .checkbox-item {
  flex-shrink: 1;
  width: 100%;
}
.textbox input:required ~ label, .textbox textarea:required ~ label, .textbox .checkbox-item:required ~ label, .textarea input:required ~ label, .textarea textarea:required ~ label, .textarea .checkbox-item:required ~ label, .combobox input:required ~ label, .combobox textarea:required ~ label, .combobox .checkbox-item:required ~ label, .checkbox input:required ~ label, .checkbox textarea:required ~ label, .checkbox .checkbox-item:required ~ label {
  padding-right: 1.2rem;
  color: #ff0000;
}
.textbox input:required ~ label::after, .textbox textarea:required ~ label::after, .textbox .checkbox-item:required ~ label::after, .textarea input:required ~ label::after, .textarea textarea:required ~ label::after, .textarea .checkbox-item:required ~ label::after, .combobox input:required ~ label::after, .combobox textarea:required ~ label::after, .combobox .checkbox-item:required ~ label::after, .checkbox input:required ~ label::after, .checkbox textarea:required ~ label::after, .checkbox .checkbox-item:required ~ label::after {
  position: absolute;
  font-size: 0.7rem;
  content: "(*)";
}
.textbox textarea, .textarea textarea, .combobox textarea, .checkbox textarea {
  height: calc(100% - 1rem);
  resize: none;
}
.textbox .required ~ label, .textarea .required ~ label, .combobox .required ~ label, .checkbox .required ~ label {
  padding-right: 1.2rem;
  color: #ff0000;
}
.textbox .required ~ label::after, .textarea .required ~ label::after, .combobox .required ~ label::after, .checkbox .required ~ label::after {
  position: absolute;
  font-size: 0.7rem;
  content: "(*)";
}
.textbox .combo-main, .textarea .combo-main, .combobox .combo-main, .checkbox .combo-main {
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  margin: 0;
}
.textbox .combo-main::after, .textarea .combo-main::after, .combobox .combo-main::after, .checkbox .combo-main::after {
  content: "...";
  position: absolute;
  right: 0.5rem;
  line-height: 0.8rem;
}
.textbox .combo-main .combo-items, .textarea .combo-main .combo-items, .combobox .combo-main .combo-items, .checkbox .combo-main .combo-items {
  transition: transform 400ms ease-in-out;
  transform-origin: top;
  background: #fff;
  border: solid 1px #BEBEBE;
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(100%);
  left: 0;
  width: 100%;
  z-index: 999;
  transform: scale(1, 0);
}
.textbox .combo-main .combo-items:hover, .textarea .combo-main .combo-items:hover, .combobox .combo-main .combo-items:hover, .checkbox .combo-main .combo-items:hover {
  border: solid 1px #88D5E9;
}
.textbox .combo-main .combo-items .combo-item, .textarea .combo-main .combo-items .combo-item, .combobox .combo-main .combo-items .combo-item, .checkbox .combo-main .combo-items .combo-item {
  padding: 0.4rem;
}
.textbox .combo-main .combo-items .combo-item:hover, .textarea .combo-main .combo-items .combo-item:hover, .combobox .combo-main .combo-items .combo-item:hover, .checkbox .combo-main .combo-items .combo-item:hover {
  background: #88D5E9;
}
.textbox .combo-main .combo-items .combo-item-selected, .textarea .combo-main .combo-items .combo-item-selected, .combobox .combo-main .combo-items .combo-item-selected, .checkbox .combo-main .combo-items .combo-item-selected {
  background: #88D5E9;
  position: relative;
}
.textbox .combo-main .combo-items .combo-item-selected::after, .textarea .combo-main .combo-items .combo-item-selected::after, .combobox .combo-main .combo-items .combo-item-selected::after, .checkbox .combo-main .combo-items .combo-item-selected::after {
  content: "√";
  position: absolute;
  right: 1rem;
}
.textbox .combo-main .combo-items-active, .textarea .combo-main .combo-items-active, .combobox .combo-main .combo-items-active, .checkbox .combo-main .combo-items-active {
  transform: scale(1, 1);
  box-shadow: 0 0 12px #88D5E9;
  border: 1px solid #88D5E9;
}
.textbox .checkbox-item, .textarea .checkbox-item, .combobox .checkbox-item, .checkbox .checkbox-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0 0.5rem;
}
.textbox .checkbox-item .checkbox, .textarea .checkbox-item .checkbox, .combobox .checkbox-item .checkbox, .checkbox .checkbox-item .checkbox {
  display: none;
}
.textbox .checkbox-item label, .textarea .checkbox-item label, .combobox .checkbox-item label, .checkbox .checkbox-item label {
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  position: relative;
  padding-left: 2rem;
}
.textbox .checkbox-item label:before, .textarea .checkbox-item label:before, .combobox .checkbox-item label:before, .checkbox .checkbox-item label:before {
  content: "";
  border: 2px solid #4488ff;
  border-radius: 3px;
  height: 1.4rem;
  width: 1.4rem;
  position: absolute;
  top: -0.2rem;
  left: 0;
}
.textbox .checkbox-item label:after, .textarea .checkbox-item label:after, .combobox .checkbox-item label:after, .checkbox .checkbox-item label:after {
  content: "√";
  font-weight: 700;
  color: #2222dd;
  position: absolute;
  top: 0.1rem;
  left: 0.5rem;
  opacity: 0;
  transform: scale(1.5);
  transition: transform 0.3s linear, opacity 0.3s linear;
}
.textbox .checkbox-item input[type=checkbox]:checked + label:after, .textarea .checkbox-item input[type=checkbox]:checked + label:after, .combobox .checkbox-item input[type=checkbox]:checked + label:after, .checkbox .checkbox-item input[type=checkbox]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  background: none;
}

.checkbox-group-column {
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.checkbox-group-row {
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.checkbox-group-focus {
  box-shadow: 0 0 12px #88D5E9;
  border: 1px solid #88D5E9;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  font-family: "Work Sans", sans-serif;
  min-width: 20em;
  max-width: 40em;
  box-shadow: 0 0 1em 1px rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
  margin: 1rem;
  display: grid;
  grid-column-gap: 1em;
  grid-template: "title" "content" "footer";
  background: none;
  border: none;
}
.card .card-title {
  color: #3333ff;
  grid-area: title;
  font-weight: 900;
  margin: 0;
  padding-bottom: 1rem;
  justify-self: center;
}
.card .card-content {
  color: #3333ff;
  grid-area: content;
}
.card .card-footer {
  grid-area: footer;
  padding-top: 1rem;
}
.card .card-footer a {
  cursor: pointer;
  font-size: 0.8rem;
  color: #3333ff;
  text-decoration: none;
  background: none;
}

.card-with-img, .card-with-img-right {
  font-family: "Work Sans", sans-serif;
  min-width: 20em;
  max-width: 40em;
  box-shadow: 0 0 1em 1px rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem;
  margin: 1rem;
  display: grid;
  grid-column-gap: 1em;
  grid-template: "img title" "img content" "img footer";
  background: none;
  border: none;
}
.card-with-img .card-img, .card-with-img-right .card-img {
  grid-area: img;
  max-width: 100%;
  align-self: start;
  justify-self: center;
}
.card-with-img + .img-right, .card-with-img-right + .img-right {
  grid-template: "title img" "content img" "footer img";
  background: red;
}
.card-with-img .card-title, .card-with-img-right .card-title {
  color: #3333ff;
  grid-area: title;
  font-weight: 900;
  margin: 0;
  padding-bottom: 1rem;
  justify-self: center;
}
.card-with-img .card-content, .card-with-img-right .card-content {
  color: #3333ff;
  grid-area: content;
}
.card-with-img .card-footer, .card-with-img-right .card-footer {
  grid-area: footer;
  padding-top: 1rem;
}
.card-with-img .card-footer a, .card-with-img-right .card-footer a {
  cursor: pointer;
  color: #3333ff;
  text-decoration: none;
  font-size: 0.8rem;
  background: none;
}

.card-with-img-right {
  grid-template: "title img" "content img" "footer img";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1066eb;
}

.mainPage {
  background: linear-gradient(180deg, #1066eb 0%, #41cfff 100%);
  transition: transform ease-in-out 400ms;
  height: calc(100vh - 3.6rem);
  color: white;
  padding: 1rem;
}

.container {
  width: 90vw;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: 0 5px 5.3px -34px rgba(0, 0, 0, 0.13), 0 11.6px 12.8px -34px rgba(0, 0, 0, 0.158), 0 21.2px 24px -34px rgba(0, 0, 0, 0.171), 0 37.4px 42.9px -34px rgba(0, 0, 0, 0.189), 0 70.7px 80.2px -34px rgba(0, 0, 0, 0.233), 0 169px 192px -34px rgba(0, 0, 0, 0.41);
}

/*
  Extra Small : < 576px
  Small       : >= 576px
  Medium      : >= 768px
  Large       : >= 992px
  Extra Large : >= 1200px
*/
@media screen and (max-width: 768px) {
  .textbox, .textarea {
    margin: 0.5rem 0;
    padding: 0;
    flex-direction: column-reverse;
  }
  .textbox label, .textarea label {
    align-self: start;
    padding-bottom: 0.2rem;
  }
  .textbox textarea, .textarea textarea {
    height: auto;
  }

  .form-btn-group {
    flex-direction: column;
  }
  .form-btn-group input, .form-btn-group button {
    margin: 0.5rem 0;
  }
}
@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 720px) {
  .navbar {
    margin: 0 0 4px 0;
  }
  .navbar .nav-avatar {
    display: none;
  }
  .navbar .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar .nav-items {
    transform: scale(1, 0);
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    margin: 0;
    display: block;
    background: linear-gradient(180deg, #4488ff 0%, #2222dd 150%);
    width: 100%;
    transform-origin: top;
    padding: 0;
  }
  .navbar .nav-items .nav-item {
    margin: 0;
    padding: 1rem;
    display: block;
    opacity: 1;
    transition: opacity 400ms ease-in-out;
  }
  .navbar .nav-items .nav-item:hover {
    background: #2222dd;
  }
  .navbar .nav-items .nav-item .dropdown-content {
    position: relative;
    background: none;
    box-shadow: none;
    width: 100%;
  }
  .navbar .nav-items .nav-item .dropdown-content:first-child {
    margin-top: 0.8em;
  }
  .navbar .nav-items .nav-item .dropdown-content a {
    margin: 0 -1rem;
    padding: 0.6rem 2.2rem;
  }
  .navbar .nav-items-active {
    transform: scale(1, 1);
  }
}

/*# sourceMappingURL=styles.css.map */
