
// TOGGLE BUTTON

.toggle-btn {
  height: 2rem;
  width:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .toggle-btn-line {
    position: relative;

  }
  .toggle-btn-line, .toggle-btn-line::before, .toggle-btn-line::after {
    display: block;
    background: white;
    height: 2px;
    width: 1.7rem;
    position: absolute;
    content: "";
  }
  .toggle-btn-line::before {
    bottom: 7px;
  }
  .toggle-btn-line::after {
    top: 7px;
    transition: transform ease-in-out 400ms;
  }
  &:hover {
    cursor: pointer;
  }
}

.toggle-btn-open-left {
  .toggle-btn-line::after {
    top: 7px;
    transform: rotate(-10deg);
  }
}

.toggle-btn-open-right {
  .toggle-btn-line::after {
    top: 7px;
    transform: rotate(10deg);
  }
}


.btn {
  border: none;
  padding: 0.5rem 1.3rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 3px -2px rgba(0,0,0,.75);
  transition: all ease-in-out 200ms;
  cursor: pointer;
  font-size: 1rem;
  &:hover {
    transform: translatey(-1px);
    box-shadow: 0px 18px 8px -10px rgba(0,0,0,.6);
  }
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: $color-badge-bg-primary;
  color: #333;
  border-radius: 5px;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: $color-btn-bg-primary;
  color: $color-btn-primary;
}


.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}
