@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap');

$color-white: #ffffff;
$color-black: #000000;

$color-bg1:#1066eb;
$color-bg2:#9ED1FF;


$color-alert: #396206;

$color-bg-alert-bg: #929D5F;

$color-text-primary: #2222dd;
$color-text-secondary: #4488ff;

$color-btn-primary: #ffffff;
$color-btn-secondary: #2222dd;

$color-btn-bg-primary: #2222dd;
$color-btn-bg-secondary: #4488ff;

$color-form-bg-primary: #f2f2f2;
$color-form-bg-secondary: #f4f4f4;
$color-input-border: #BEBEBE;
$color-input-hover: #88D5E9;


$color-badge-bg-primary:  #4488ff;

// Set text color based on bg
@function set-text-color($color) {
  @if(lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color)
}




