@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap');

$color-white: #ffffff;
$color-black: #000000;

$color-bg1:#8888DD;
$color-bg2:#9ED1FF;

$color-button1: #598236;
$color-button2: #829D5F;
$color-alert: #396206;

$color-bg-alert-bg: #929D5F;




// Set text color based on bg
@function set-text-color($color) {
  @if(lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color)
}




