/*
https://www.w3schools.com/html/html_form_input_types.asp
Here are the different input types you can use in HTML:

<input type="button">
<input type="checkbox">
<input type="color">
<input type="date">
<input type="datetime-local">
<input type="email">
<input type="file">
<input type="hidden">
<input type="image">
<input type="month">
<input type="number">
<input type="password">
<input type="radio">
<input type="range">
<input type="reset">
<input type="search">
<input type="submit">
<input type="tel">
<input type="text">
<input type="time">
<input type="url">
<input type="week">
*/


.form {
  label {
    color: $color-text-primary;
  }
}

.form-container {
  width: 90vw;
  margin: 2rem auto;
  //overflow: hidden;
  box-shadow:
          0 0 1em 1px rgba(0, 0, 0, 0.1),
          0 6.5px 10.2px -51px rgba(0, 0, 0, 0.409),
          0 17.1px 28.3px -51px rgba(0, 0, 0, 0.443),
          0 40.8px 68.1px -51px rgba(0, 0, 0, 0.491),
          0 136px 226px -51px rgba(0, 0, 0, 0.58);
  border-radius: 0.5rem;
  background: $color-form-bg-primary;
  font-family: "Work Sans", sans-serif;
  .form-title {
    text-align: center;
    margin-bottom: 1rem;
  }
}



input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=time],
input[type=url],
textarea,
.combo-main,
.checkbox-group,
.radiobutton-group
{
  color: $color-text-primary;
  background: $color-input-background;
  padding: 0.4rem;
  font-size: 1rem;
  border:1px solid $color-input-border;
  border-radius: 0.2rem;
  transition: all 0.30s ease-in-out;
  outline: none;
  &:hover {
    border: 1px solid $color-input-hover;
  }
  &:focus {
    box-shadow: 0 0 12px $color-input-hover;
    border: 1px solid $color-input-hover;
  }
}

.textbox, .textarea, .combobox, .checkbox, .radiobutton {
  display: flex;
  flex-direction:row-reverse;
  align-items: center;
  margin: 0.5rem 0;
  padding:0;
  height: 100%;
  position: relative;
  label {
    text-align: right;
    padding-right: 0.2rem;
  }
  input, textarea, .checkbox-item {
    flex-shrink: 1;
    width: 100%;
    &:required {
      ~ label{
        padding-right: 1.2rem;
        &::after {
          position: absolute;
          font-size: 0.7rem;
          content: "(*)"
        }
        color: $color-text-required;
      }
    }
  }
  textarea {
    height: calc(100% - 1rem);
    resize: none;
  }

  .required {
    ~ label{
      padding-right: 1.2rem;
      &::after {
        position: absolute;
        font-size: 0.7rem;
        content: "(*)"
      }
      color: $color-text-required;
    }
  }

  .combo-main {
    position: relative;
    cursor: pointer;
    width: 100% ;
    padding: 0.5rem;
    margin:0;

    &::after {
      content: "...";
      position: absolute;
      right: 0.5rem;
      line-height: 0.8rem;
    }

    .combo-items {
      transition : transform 400ms ease-in-out;
      transform-origin: top;
      background: $color-input-background;
      border: solid 1px $color-input-border;
      margin: 0;
      padding: 0;
      position: absolute;
      top: calc(100%);
      left: 0;
      width: 100%;
      z-index: 999;
      transform: scale(1, 0);
      &:hover {
        border: solid 1px $color-input-hover;
      }
      .combo-item {
        padding: 0.4rem;
        &:hover {
          background: $color-input-hover;
        }
      }
      .combo-item-selected {
        background: $color-input-selected;
        position: relative;
        &::after {
          content: "\221A";
          position: absolute;
          right: 1rem;
        }
      }
    }
    .combo-items-active {
      transform: scale(1, 1);
      box-shadow: 0 0 12px $color-input-hover;
      border: 1px solid $color-input-hover;
    }
  }


  .checkbox-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0 0.5rem;
    input {
      display: none;
    }

    label {
      cursor: pointer;
      font-size: 1rem;
      text-align: center;
      position: relative;
      padding-left: 2rem;
      &:before {
        content: '';
        border: 2px solid $color-input-checkbox-border;
        border-radius: 3px;
        height: 1.4rem;
        width: 1.4rem;
        position: absolute;
        top: -0.2rem;
        left: 0;
      }
      &:after {
        content: '\221A';
        font-weight: 700;
        color: $color-input-checkbox-check;
        position: absolute;
        top: 0.1rem;
        left: 0.5rem;
        opacity: 0;
        transform: scale(1.5);
        transition: transform 0.3s linear, opacity 0.3s linear;
      }
    }

    input:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
  }

  .radiobutton-item {
    input {
      display: none;
      &:checked+label:after {
        opacity: 1;
        transform: scale(1);
      }
    }
    label {
      position: relative;
      padding: 3px 0 0 40px;
      cursor: pointer;
      &::before {
        content: '';
        border: 2px solid $color-input-checkbox-border;
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
      }
      &::after {
        content: '';
        background: $color-input-checkbox-border;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        position: absolute;
        top: 0.32rem;
        left: 0.33rem;

        opacity: 0;
        transform: scale(2);
        transition: transform 0.4s linear, opacity 0.4s linear;
      }
    }
  }


}

.checkbox-group, .radiobutton-group {
  display: flex;
  flex-wrap: wrap;
  background: none;
  position: relative;
  .group-label {
    background: $color-form-bg-primary;
    border-radius: 55px;
    padding: 0 0.2rem 0 0.4rem;
    position: absolute;
    font-size: 0.8rem;
    top: -0.5rem;
    left: 10px;
  }
}

.checkbox-group-column, .radiobutton-group-column  {
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.checkbox-group-row, .radiobutton-group-row {
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.checkbox-group-focus, .radiobutton-group-focus {
  box-shadow: 0 0 12px $color-input-hover;
  border: 1px solid $color-input-hover;
  .group-label {
    box-shadow: 0 0 12px $color-input-hover;
  }

}




.form-btn-group {
  grid-column: 1 / -1;
  display: flex;
  width:100%;
  input, button {
    margin: 0.5rem;
    flex-grow: 1;
    font-family: inherit;
    text-align: center;
  }
}

.form-btn-group-stop-hover {
  pointer-events: none;
}
