/*
https://www.w3schools.com/html/html_form_input_types.asp
Here are the different input types you can use in HTML:

<input type="button">
<input type="checkbox">
<input type="color">
<input type="date">
<input type="datetime-local">
<input type="email">
<input type="file">
<input type="hidden">
<input type="image">
<input type="month">
<input type="number">
<input type="password">
<input type="radio">
<input type="range">
<input type="reset">
<input type="search">
<input type="submit">
<input type="tel">
<input type="text">
<input type="time">
<input type="url">
<input type="week">
*/



input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=time],
input[type=url],
select,
textarea {
  padding: 0.4rem;
  font-size: 1rem;
  border:1px solid $color-input-border;
  transition: all 0.30s ease-in-out;
  outline: none;
  &:focus {
    box-shadow: 0 0 12px $color-input-hover;
    border: 1px solid $color-input-hover;
  }
}

.form-container {
  width: 90vw;
  margin: 2rem auto;
  overflow: hidden;
  box-shadow:
          0 0 1em 1px rgba(0, 0, 0, 0.1),
          0 6.5px 10.2px -51px rgba(0, 0, 0, 0.409),
          0 17.1px 28.3px -51px rgba(0, 0, 0, 0.443),
          0 40.8px 68.1px -51px rgba(0, 0, 0, 0.491),
          0 136px 226px -51px rgba(0, 0, 0, 0.58);
  border-radius: 0.5rem;
  background: $color-form-bg-primary;
  font-family: "Work Sans", sans-serif;
  .form-title {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.form {
  label {
    color: $color-text-primary;
  }
}

.form-btn-group {
  margin-top: 1rem;
  grid-column: 1 / -1;
  input[type='submit'],
  button {
    font-family: inherit;
  }
}

.textbox, .textarea {
  display: flex;
  flex-direction:row-reverse;
  align-items: center;
  margin: 0.5rem 0;
  height: 100%;
  position: relative;
  label {
    text-align: right;
    padding-right: 0.2rem;
  }
  input, textarea {
    flex-shrink: 2;
    width: 100%;
    &:required {
      ~ label{
        padding-right: 1.2rem;
        &::after {
          position: absolute;
          font-size: 0.7rem;
          content: "(*)"
        }
        color: red;
      }
    }
  }
  textarea {
    height: calc(100% - 1rem);
    resize: none;

  }

}







