/*
https://www.w3schools.com/html/html_form_input_types.asp
Here are the different input types you can use in HTML:

*/


.form {
  label {
    color: $color-text-primary;
  }
}

.form-container {
  width: 90vw;
  margin: 2rem auto;
  //overflow: hidden;
  box-shadow:
          0 0 1em 1px rgba(0, 0, 0, 0.1),
          0 6.5px 10.2px -51px rgba(0, 0, 0, 0.409),
          0 17.1px 28.3px -51px rgba(0, 0, 0, 0.443),
          0 40.8px 68.1px -51px rgba(0, 0, 0, 0.491),
          0 136px 226px -51px rgba(0, 0, 0, 0.58);
  border-radius: 0.5rem;
  background: $color-form-bg-primary;
  font-family: "Work Sans", sans-serif;
  .form-title {
    text-align: center;
    margin-bottom: 1rem;
  }
}



input,
textarea,
.combo-input,
.checkbox-group,
.radiobutton-group,
.date-picker-input
{
  color: $color-text-primary;
  background: $color-input-background;
  padding: 0.4rem;
  font-size: 1rem;
  border:1px solid $color-input-border;
  border-radius: 0.2rem;
  transition: all 0.30s ease-in-out;
  outline: none;
  &:hover {
    border: 1px solid $color-input-hover;
  }
  &:focus {
    box-shadow: 0 0 12px $color-input-hover;
    border: 1px solid $color-input-hover;
  }
}

.textbox, .textarea, .combobox, .checkbox, .radiobutton, .date-picker {
  display: flex;
  flex-direction:row-reverse;
  align-items: center;
  margin: 0.5rem 0;
  padding:0;
  height: 100%;
  position: relative;
  label {
    text-align: right;
    padding-right: 0.2rem;
  }
  input, textarea, .checkbox-item {
    flex-shrink: 1;
    width: 100%;
    &:required {
      ~ label{
        padding-right: 1.2rem;
        &::after {
          position: absolute;
          font-size: 0.7rem;
          content: "(*)"
        }
        color: $color-text-required;
      }
    }
  }
  textarea {
    height: calc(100% );
    resize: none;
  }

  .required {
    ~ label{
      padding-right: 1.2rem;
      &::after {
        position: absolute;
        font-size: 0.7rem;
        content: "(*)"
      }
      color: $color-text-required;
    }
  }

  .combo-input {
    position: relative;
    cursor: pointer;
    width: 100% ;
    padding: 0.5rem;
    margin:0;

    &::after {
      content: "...";
      position: absolute;
      right: 0.5rem;
      line-height: 0.8rem;
    }

    .combo-items {
      transition : transform 400ms ease-in-out;
      transform-origin: top;
      background: $color-input-background;
      border: solid 1px $color-input-border;
      margin: 0;
      padding: 0;
      position: absolute;
      top: calc(100%);
      left: 0;
      width: 100%;
      z-index: 999;
      transform: scale(1, 0);
      &:hover {
        border: solid 1px $color-input-hover;
      }
      .combo-item {
        padding: 0.4rem;
        &:hover {
          background: $color-input-hover;
        }
      }
      .combo-item-selected {
        background: $color-input-selected;
        position: relative;
        &::after {
          content: "\221A";
          position: absolute;
          right: 1rem;
        }
      }
    }
    .combo-items-active {
      transform: scale(1, 1);
      box-shadow: 0 0 12px $color-input-hover;
      border: 1px solid $color-input-hover;
    }
  }


  .checkbox-item, .radiobutton-item  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0 0.5rem;
    input {
      display: none;
      &:checked + label:after {
        opacity: 1;
        transform: scale(1);
      }
    }

    .label-checkbox, .label-radio {
      cursor: pointer;
      font-size: 1rem;
      text-align: center;
      position: relative;
      padding-left: 32px;
      &:before {
        content: '';
        border: 2px solid $color-input-checkbox-border;
        height: 22px;
        width: 22px;
        position: absolute;
        top: -3px;
        left: 0;
      }
      &:after {
        position: absolute;
        opacity: 0;
        transform: scale(0.1);
        transition: transform 0.3s linear, opacity 0.3s ease-in-out;
        color: $color-input-checkbox-check;
      }
    }

    .label-checkbox {
      &:before {
        border-radius: 3px;
      }
      &:after {
        content: '\221A';
        top: 2px;
        left: 8px;
      }
    }
    .label-radio {
      &::before {
        border-radius: 50%;
      }
      &::after {
        content: '\2022';
        font-size: 3.5rem;
        line-height: 18px;
        top: 1px;
        left: 1px;
      }
    }
  }

}

.checkbox-group, .radiobutton-group {
  display: flex;
  flex-wrap: wrap;
  background: none;
  position: relative;
  .group-label {
    background: $color-form-bg-primary;
    border-radius: 55px;
    padding: 0 0.2rem 0 0.4rem;
    position: absolute;
    font-size: 0.8rem;
    top: -0.3rem;
    left: 10px;
  }
}

.checkbox-group-column, .radiobutton-group-column  {
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.checkbox-group-row, .radiobutton-group-row {
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.checkbox-group-focus, .radiobutton-group-focus {
  box-shadow: 0 0 12px $color-input-hover;
  border: 1px solid $color-input-hover;
  .group-label {
    box-shadow: 0 0 12px $color-input-hover;
  }

}

.form-btn-group {
  grid-column: 1 / -1;
  display: flex;
  width:100%;
  input, button {
    margin: 0.5rem;
    flex-grow: 1;
    font-family: inherit;
    text-align: center;
  }
}

.form-btn-group-stop-hover {
  pointer-events: none;
}
.date-picker-input {
  position: relative;
  cursor: pointer;
  width: 100% ;
  padding: 0.5rem;
  margin:0;

  &::after {
    content: "...";
    position: absolute;
    right: 0.5rem;
    line-height: 0.8rem;
  }

  .date-picker-selector {
    transition : transform 400ms ease-in-out;
    transform-origin: top;
    background: $color-input-background;
    border: solid 1px $color-input-border;
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(100%);
    left: 0;
    width: 100%;
    z-index: 999;
    transform: scale(1, 0);

    cursor: auto;
    &:hover {
      border: solid 1px $color-input-hover;
    }
    .date-picker-month-selector {
      display: flex;
      padding: 0.5rem 0;
      justify-content: space-between;
      align-items: center;

      .left-button, .right-button{
        cursor: pointer;
        padding: 0 1rem;
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        color: inherit;
      }
      .left-button:hover {
        transform: scale(1.2);
      }
      .right-button:hover {
        transform: scale(1.2);
      }
      .date-picker-month {
        padding: 0.5rem;
        font-weight: bold;
      }
    }
    .date-picker-day-labels {
      display:flex;
      padding: 1rem 0;
      justify-content: space-around;
      align-items: center;
      border-top: 1px $color-datepicker-day-labels-border solid;
      border-bottom: 1px $color-datepicker-day-labels-border solid;
      background: $color-datepicker-day-labels-bg;
    }
    .date-picker-days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 0;
      justify-content: center;
      align-items: center;
      .day {
        cursor: pointer;
        text-align: center;
        padding: 0.5rem 0;
      }
      .day-today {
        border: 1px $color-datepicker-day-today-border solid;
        padding: 0;
        margin: 0 0.3rem;
        border-radius: 80%;
      }
      .day-active {
        background: $color-datepicker-day-active-bg;
        padding: 0;
        margin: 0 0.3rem;
        border-radius: 80%;
      }
      .pre-month-day, .next-month-day {
        color: lightgray;
      }
    }

  }
  .date-picker-selector-active {
    transform: scale(1, 1);
    box-shadow: 0 0 12px $color-input-hover;
    border: 1px solid $color-input-hover;
  }
}
