@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

$color-text-navbar:  #ffffff;
$color-text-navbar-hover: #bbffff;
$color-text-navbar-dropdown-hover: #3366ff;
$color-bg-navbar1:#2222dd;
$color-bg-navbar2:#4444ff;
$font-navbar: 'Acme', sans-serif;
$font-size-navbar: 1.2rem;

$transition-nav-item: transform ease-out 300ms;

$z-index-navbar-dropdown-content: 100;

.navbar {
  position: relative;
  background: linear-gradient(180deg, $color-bg-navbar1 0%, $color-bg-navbar2 100%);
  height: 3.6rem;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: $font-navbar;
  font-size: $font-size-navbar;
  color: $color-text-navbar;
  margin: 0;
  padding: 0;
  .nav-brand {
    grid-column: 1 / 2 ;
    height: 32px;
    img {
      height: inherit;
    }
  }
  .nav-items {
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-item {
      padding: 0;
      margin-left: 1.5em;
      cursor: pointer;
      margin-bottom: 0;
      position: relative;
      color: $color-text-navbar;
      text-decoration: none;
      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: -10%;
        width: 120%;
        border-top: 3px solid $color-text-navbar-hover;
        transform: scale(0, 0);
        transition: $transition-nav-item
      }
      &:hover {
        color: $color-text-navbar-hover;
        &::before {
          transform: scale(1, 1);
        }
      }
      .dropdown-content {
        display: none;
        position: absolute;
        font-size: 0.9rem;
        top: calc(100% + 3px);
        left: 0;
        text-align: left;
        background-color: $color-bg-navbar2;
        white-space: nowrap;
        box-shadow: 0px 0px 20px 5px rgba($color-bg-navbar1, 0.6);
        z-index: $z-index-navbar-dropdown-content;
        flex-direction: column;
        a {
          color: $color-text-navbar;
          padding: 0.6rem 1.8rem;
          text-decoration: none;
          &:hover{
            color: $color-text-navbar-hover;
            background: rgba($color-bg-navbar1,1);
          }
        }
      }
      .dropdown-content-active {
        display: flex;
      }
    }
  }
  .nav-avatar {
    margin: 0 auto;
    grid-column: 3 / 4 ;
    .nav-avatar-text {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      width: 2rem;
      height: 2rem;
      //border: 1px solid;
      border-radius: 2em;
      box-shadow: 0 0 10px 3px white;
    }
  }

  .nav-btn {
    grid-column: 3 / 4 ;
    display: none;
  }
}


